.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.dashboard.ui.prefs
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.m2e.core/nexus/03bf5a7f8974d6e09a108b9cea9e1b00/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/03bf5a7f8974d6e09a108b9cea9e1b00/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/03bf5a7f8974d6e09a108b9cea9e1b00/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/03bf5a7f8974d6e09a108b9cea9e1b00/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/4add989ec81098ac9ddc7e3ec023da6d/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/4add989ec81098ac9ddc7e3ec023da6d/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/4add989ec81098ac9ddc7e3ec023da6d/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/4add989ec81098ac9ddc7e3ec023da6d/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/4c04813e9b1d51640a2a5ac7ede1da58/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/4c04813e9b1d51640a2a5ac7ede1da58/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/4c04813e9b1d51640a2a5ac7ede1da58/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/4c04813e9b1d51640a2a5ac7ede1da58/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/89728b5a05ea92b3b5fcc0a8b95340b0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/89728b5a05ea92b3b5fcc0a8b95340b0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/89728b5a05ea92b3b5fcc0a8b95340b0/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/89728b5a05ea92b3b5fcc0a8b95340b0/write.lock
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.musail181903_4032/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.musail181903_4032/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.musail181903_4032/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/bootstrap/css/bootstrap.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/bootstrap/css/bootstrap.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/bootstrap/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/bootstrap/js/bootstrap.min.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/application.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/blog.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/buttons.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/dashboard.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/docs.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/flexbox.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/font-awesome.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/fontcustom.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/highlight.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/homepage.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/icons.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/main.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/markdown-content.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/panes.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/projects.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/responsive.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/tools.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/css/typography.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/font-awesome/css/font-awesome.css
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/font-custom/fontcustom.woff
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/blog.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/blog_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/bug_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/comparison_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/compass.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/compass_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/extension.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/extension_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/favicon.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/forum.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/forum_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/guides.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/guides_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/loading.gif
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/logo_bigleaf.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/logo_spring.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/logo_sts.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/new_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/overlay-incoming.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/question.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/spring-logo.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/springdocs.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/img/springdocs_32.png
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/js/application.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/js/filter.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/js/guide.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/js/jquery.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/common/js/modernizer.flexbox.js
.metadata/.plugins/org.springsource.ide.eclipse.commons.gettingstarted/dashboard/1463808062170/index.html
.metadata/version.ini
RemoteSystemsTempFiles/.project
